
<div class="alert alert-info text-center" role="alert"
     *ngIf="loading">
    <h4 class="alert-heading">Cargando...</h4>
    <p>
        <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
    <p class="mb-0"></p>
</div>

<div class="alert alert-danger text-center" role="alert"
     *ngIf="error">
    <h4 class="alert-heading">Error</h4>
    <pre>
        {{ error | json }}
    </pre>
    <p class="mb-0"></p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4"
     *ngIf="!loading">
    <div *ngFor="let item of usuarios"
        class="card" >
        <img [src]="item.avatar" class="card-img-top" [alt]="item.first_name">
        <div class="card-body">
            <h5 class="card-title">{{ item.first_name + ' ' + item.last_name }}</h5>
            <h6>{{ item.email }}</h6>
            <h6 class="id">ID: {{ item.id }}</h6>
        </div>
    </div>
</div>
